<% provide(:title, 'About Us') %>
<div class="center hero-unit">
  <h1>About Us</h1>
    <p>
      本ホームページは「The Ruby on Rails Tutorial」を参考にして、サンプルとして
      作成したものです。<br />
      <strong>(リンク先は最下部左のRails Tutoriarに記載してあります。)</strong><br />
      管理者のブログ記事は右下の[Blog]にリンクしております。
    </p>
</div>

