<% provide(:title, 'Contact') %>
<div class="center hero-unit">
  <h1>Contact</h1>
  <p>
    本ページはサンプルページですので、ご連絡等は一切受け付けておりません。<br />
    何か御座いましたら、[Blog]から管理者のブログのコメントから入力願います。<br />
    または、下の管理者イメージをクリックして管理者ホームページの「問い合わせ」で入力願います。
  </p>
  <%= link_to image_tag("kame.gif", width: "150", alt: "Kameyama"), 'http://akame913.jimdo.com/' %>
</div>
