<% provide(:title, 'Help') %>
<div class="center hero-unit">
  <h1>Help</h1>
    <p>
      Kame Appのヘルプページへようこそ。<br />
      本ページでは、困った時に役立つ操作についてまとめています。<br />
    </p>
  <h1>Sign up now!</h1>
    <p>
      マイクロポスト（簡易Twitter）を使用する際にユーザー登録が必要になります。<br />
      名前、Eメールアドレス、パスワード、確認パスワードを入力してください。<br />
      パスワードを忘れた場合、本Kame Appでは修正できません。<br />
      サインイン後のホームはマイクロポストの登録・表示画面となります。
    </p> 
  <h1>Product</h1>
    <p>
      管理者が作成した各種業務用ツールを紹介しております。<br />
      ご興味がございましたら、ご連絡願います。
    </p>
</div>
